web/WEB-INF/wsdl/localhost_8080/ABCShopTestServer-war/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/ABCShopTestServer-war/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllProduct">
<part name="parameters" element="tns:getAllProduct"/>
</message>
<message name="getAllProductResponse">
<part name="parameters" element="tns:getAllProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="sellProduct">
<part name="parameters" element="tns:sellProduct"/>
</message>
<message name="sellProductResponse">
<part name="parameters" element="tns:sellProductResponse"/>
</message>
<portType name="NewWebService">
<operation name="getAllProduct">
<input wsam:Action="http://service/NewWebService/getAllProductRequest" message="tns:getAllProduct"/>
<output wsam:Action="http://service/NewWebService/getAllProductResponse" message="tns:getAllProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://service/NewWebService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://service/NewWebService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="sellProduct">
<input wsam:Action="http://service/NewWebService/sellProductRequest" message="tns:sellProduct"/>
<output wsam:Action="http://service/NewWebService/sellProductResponse" message="tns:sellProductResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/ABCShopTestServer-war/NewWebService"/>
</port>
</service>
</definitions>